node_modules
.next
.git
.gitignore
.env
.env.*
!.env.example
README.md
deploy
stress
scripts/seed*
*.log
.vscode
.idea
.DS_Store
coverage
tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile
.dockerignore
docker-compose.yml
