openapi: 3.1.0
info:
  title: CashConnect API
  version: "1.0.0"
  description: |
    Bank-verified deposit verification API for emerging-market payments.
    Authenticate every request with a Bearer API key issued from the dashboard.
servers:
  - url: https://api.cashconnect.cc/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local dev
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: cc_(live|test)_<32 hex>
  schemas:
    Verification:
      type: object
      required: [id, reference, status, amount_minor, currency, bank_code, account_last4, created_at]
      properties:
        id: { type: string }
        reference: { type: string }
        status:
          type: string
          enum: [pending, verified, failed, expired]
        amount_minor: { type: integer, minimum: 1 }
        currency: { type: string, minLength: 3, maxLength: 3 }
        bank_code: { type: string }
        account_last4: { type: string, minLength: 4, maxLength: 4 }
        failure_reason: { type: [string, "null"] }
        verified_at: { type: [string, "null"], format: date-time }
        created_at: { type: string, format: date-time }
    CreateVerification:
      type: object
      required: [reference, bank_code, account_number, amount_minor]
      properties:
        reference: { type: string, maxLength: 128 }
        bank_code: { type: string, minLength: 2, maxLength: 16 }
        account_number: { type: string, minLength: 4, maxLength: 34 }
        amount_minor: { type: integer, minimum: 1 }
        currency: { type: string, minLength: 3, maxLength: 3 }
        payer_name: { type: string, maxLength: 120 }
    Error:
      type: object
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object, additionalProperties: true }
paths:
  /health:
    get:
      summary: Liveness probe
      security: []
      responses:
        "200": { description: OK }
  /verifications:
    post:
      summary: Create a verification
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateVerification" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Verification" }
        "401": { description: Unauthorized, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "409": { description: Duplicate reference, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "422": { description: Validation failed, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    get:
      summary: List verifications
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [verified, failed, pending, expired] }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Verification" }
  /verifications/{id}:
    get:
      summary: Retrieve a verification
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Verification" }
        "404": { description: Not found, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
